{% extends 'kvetchupapp/base.html' %}

{% block content %}
<transition name="fade">
    <div class="menu"  v-show="show">
        <a class="tablinks" href="">Home</a>
        <a class="tablinks" href="">Profile</a>
        <a class="tablinks" href="">How To</a>
        <a class="tablinks" href="">Resources</a>
    </div>
</transition>

<div class="content">
    
        <span class="instruction">Please choose your corporate elite to rage against. </span>
        <div class="select_section">
            <select v-model="siteId" name="" id="sites_drop_down">  
                <option selected disabled value="Hello">Choose a Site</option>
                {% for site in sites %}
                    <option value="{{site.id}}">{{site.name | title}}</option>
                {% endfor %}
            </select>
            <button v-on:click="getSiteView">Rage</button>
        </div>
        <div class="input_section">
            <div v-if="name">Name: &ensp; [[name]]</div>
            <div v-if="url">Url: &ensp; [[url]]</div>
            <div v-if="email">Email Address: &ensp; [[email]]</div>
            <div v-if="phone_number != ''">Phone Number: &ensp; [[phone_number]]</div>
            <input type="text" name="" id="" v-if="email">
            <button type="submit" v-if="email">Send Email</button>
        </div>    
    

    
</div>
{% endblock %}